@{
    ViewBag.Title = "订单管理》表单页面";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
@*<%@ page language="java" import="java.util.*" pageEncoding="UTF-8"%>*@
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<script type="text/javascript">
    var TreeId = GetQuery('TreeId');
    var KeyValue = GetQuery('KeyValue');
    var TreeName = "";
    $(function () {
        GetGrid();

        if (!!KeyValue) {
            //主表信息
            AjaxJson("/SteelMember/ProjectOrder/SetDataForm", { KeyValue: KeyValue }, function (data) {
                SetWebControls(data);
            });
            var rowindex = 1;
            var data2;
            //明细信息
            AjaxJson("/SteelMember/ProjectOrder/GetOrderEntryList", { OrderId: KeyValue }, function (data) {
                var JsonData = data.rows;
                $.each(JsonData, function (i) {
                    var rowData = JsonData[i];
                    //给判断集合赋值开始
                    IsExistItem(rowindex, rowData.MemberID);
                    //给判断集合赋值结束

                    $.ajax({
                        type: 'post',
                        dataType: "text",
                        url: "/SteelMember/ProjectOrder/EditMemberNumber",
                        data: {
                            KeyValue: KeyValue,
                            MemberId: rowData.MemberID
                        },
                        cache: false,
                        async: false,
                        success: function (data) {
                            data2 = data;
                        }
                    });

                    $("#MemberID➩" + rowindex).val(rowData.MemberID);
                    $("#ProjectDemandId➩" + rowindex).val(rowData.ProjectDemandId);
                    $("#MemberNumbering➩" + rowindex).val(rowData.MemberNumbering);
                    $("#MemberName➩" + rowindex).val(rowData.MemberName);
                    $("#MemberModel➩" + rowindex).val(rowData.MemberModel);
                    $("#MemberUnit➩" + rowindex).val(rowData.MemberUnit);
                    $("#UnitId➩" + rowindex).val(rowData.UnitId);
                    $("#Qty➩" + rowindex).val(rowData.Qty);
                    $("#Price➩" + rowindex).val(rowData.Price);
                    $("#PriceAmount➩" + rowindex).val(rowData.PriceAmount);
                    $("#MaxNumber➩" + rowindex).val(Number(data2) + Number(rowData.Qty));
                    //$("#PlusPrice➩" + rowindex).val(rowData.PlusPrice);
                    //$("#CESS➩" + rowindex).val(rowData.CESS);
                    //$("#CESSAmount➩" + rowindex).val(rowData.CESSAmount);
                    //$("#PlusPriceAmount➩" + rowindex).val(rowData.PlusPriceAmount);
                    $("#gridTable tbody tr:eq(" + rowindex + ")").find('input').attr("datacol", "yes");
                    Conversion(rowindex);
                    rowindex++;
                    $("#gridTable tbody tr:eq(" + rowindex + ")").find('input').removeAttr('disabled');
                    $("#gridTable").find('.disabled').attr("disabled", "disabled");
                    $("#MemberID➩" + rowindex).focus();
                });
            });
            if (GetQuery("motionType") == 0) {
                $("#button_Commit_Save").attr({ "disabled": "disabled" }).attr('onclick', '');
                $('input,select,textarea').attr({ "disabled": "disabled" });
            }
        } else {
            AjaxJson("/SteelMember/ProjectOrder/TreeName", { TreeId: TreeId }, function (data) {
                //SetWebControls(data);
                TreeName = data.TreeName;
                document.getElementById("TreeName").value = TreeName;
            });
        }
    })
    /*明细begin=======================================*/
    //采购订单分录
    function GetGrid() {
        $("#gridTable").jqGrid({
            datatype: "local",
            height: $(window).height() + 200,
            autowidth: true,
            colModel: [
                { label: '构件编号[<font face="宋体">*</font>]', name: "MemberNumbering", align:' center',width: 180, sortable: false },
                { label: '构件名称', name: "MemberName", align:' center',width: 150, sortable: false },
                { label: '构件型号', name: "MemberModel", align:' center',width: 100, sortable: false},
                { label: '单位', name: "MemberUnit", align:' center',width: 80, sortable: false, align: 'center' },
                { label: '数量[<font face="宋体">*</font>]', name: 'Qty', align:' center',width: 80, sortable: false},
                { label: '单价[<font face="宋体">*</font>]', name: 'Price', align:' center',width: 80, sortable: false},
                { label: '金额[<font face="宋体">*</font>]', name: 'PriceAmount', align:' center',width: 120, sortable: false},
                //{ label: '含税单价[<font face="宋体">*</font>]', name: 'PlusPrice', align:' center',width: 70, sortable: false, align: 'center' },
                //{ label: '税率(%)[<font face="宋体">*</font>]', name: 'CESS', align:' center',width: 70, sortable: false, align: 'center' },
                //{ label: '税额', name: 'CESSAmount', align:' center',width: 70, sortable: false, align: 'center' },
                //{ label: '含税金额[<font face="宋体">*</font>]', name: 'PlusPriceAmount', align:' center',width: 70, sortable: false, align: 'center' },
                { label: '备注', name: 'Description', align:' center',width: 220, sortable: false },
                { label: '构件ID', name: 'MemberID', align:' center',width: 1, sortable: false, hidden: true },
                { label: '需求ID', name: 'ProjectDemandId', align: ' center', width: 1, sortable: false, hidden: true },
                { label: 'MaxNumber', name: 'MaxNumber', align: ' center', width: 1, sortable: false, hidden: true }
            ],
            pager: false,
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            footerrow: true,
            gridComplete: function () {
                //合计
                $(this).footerData("set", {
                    "MemberNumbering": "合计",
                    "Qty": "<span id='TotalQty'>0</span>",
                    "Price": "<span id='TotalPrice'>0.00</span>",
                    "PriceAmount": "<span id='TotalPriceAmount'>0.00</span>",
                    //"PlusPrice": "<span id='TotalPlusPrice'>0.00</span>",
                    //"CESSAmount": "<span id='TotalCESSAmount'>0.00</span>",
                    //"PlusPriceAmount": "<span id='TotalPlusPriceAmount'>0.00</span>"
                });
            },
              /** 设置删行事件处理 */
            //$("#removeButton").bind("click", function () {
            //    var selectedId = $("#gridTable").jqGrid("getGridParam", "selrow");
            //    if (!selectedId) {
            //        alert("请选择要删除的行");
            //        return;
            //    } else {
            //        $("#gridTable").jqGrid("delRowData", selectedId);
            //    }
            //}),
            //onSelectRow: function () {
            //    SelectRowIndx = GetJqGridRowIndx("#" + this.id);
            //},
            ondblclick:function(rowid, e) {
                var selectedId = $("#gridTable").jqGrid("getGridParam", "selrow");
                $("#gridTable").jqGrid("delRowData", selectedId);
            }
        });
        ////表头合并
        //$("#gridTable").jqGrid('setGroupHeaders', {
        //    useColSpanStyle: true,
        //    groupHeaders: [
        //      { startColumnName: 'ItemCode', numberOfColumns: 4, titleText: '构件信息' },
        //      { startColumnName: 'Qty', numberOfColumns: 7, titleText: '价格信息' }
        //    ]
        //});
        //默认添加30行 空行
        for (var i = 1; i < 31; i++) {
            var rowdata = {
                MemberNumbering: '<input readonly id="MemberNumbering➩' + i + '" class="editable" type="text" style="cursor:pointer" datacol="no" err="构件编号" checkexpession="NotNull" /><input id="MemberNumbering➩' + i + '" type="hidden" />',
                MemberName: '<input id="MemberName➩' + i + '" class="editable disabled" type="text" />',
                MemberModel: '<input id="MemberModel➩' + i + '" class="editable disabled center" type="text" />',
                MemberUnit: '<input id="MemberUnit➩' + i + '" class="editable disabled center" type="text" />',
                Qty: '<input id="Qty➩' + i + '" class="editable decimal center" type="text" onkeyup="Conversion(' + i + ')" datacol="No" err="数量" checkexpession="Num" />',
                Price: '<input id="Price➩' + i + '" class="editable disabled center" type="text" onkeyup="Conversion(' + i + ')" datacol="No" err="单价" checkexpession="Double" />',
                PriceAmount: '<input id="PriceAmount➩' + i + '" class="editable disabled center" type="text" datacol="No" err="金额" checkexpession="Double" />',
                //PlusPrice: '<input id="PlusPrice➩' + i + '" class="editable disabled center" type="text" />',
                //CESS: '<input id="CESS➩' + i + '" class="editable decimal center" type="text" onkeyup="Conversion(' + i + ')" datacol="No" err="税率(%)" checkexpession="Double" />',
                //CESSAmount: '<input id="CESSAmount➩' + i + '" class="editable decimal disabled center" type="text" />',
                //PlusPriceAmount: '<input id="PlusPriceAmount➩' + i + '" class="editable decimal center" type="text" datacol="No" err="含税金额" checkexpession="Double" />',
                Description: '<input id="Description➩' + i + '" class="editable" type="text" />',
                MemberID: '<input id="MemberID➩' + i + '" class="editable" type="hidden" />',
                ProjectDemandId: '<input id="ProjectDemandId➩' + i + '" class="editable" type="hidden" />',
                MaxNumber: '<input id="MaxNumber➩' + i + '" class="editable disabled center" type="hidden"/>',
            }
            $('#gridTable').jqGrid('addRowData', i, rowdata);
        }
        //金额设置居中、设置只能输入金额格式
        $("#gridTable").find('.decimal').attr('onfocus', 'IsMoney(this.id)');
        $("#gridTable").find('.center').css('text-align', 'center')
        $("#gridTable").find('input').attr("disabled", "disabled");
        $("#gridTable tbody tr:eq(1)").find('input').removeAttr('disabled').attr("datacol", "yes");
        $("#gridTable").find('.disabled').attr("disabled", "disabled");
        $('.jqgrid-rownum').attr('title', '双击清空一行');
        //点击物料编码文本框时间，弹出选择物料信息
        $("#gridTable tbody tr").find('td:eq(1)').find('input').click(function () {
            if ($(this).attr('disabled') == 'disabled') {
                return false;
            }
            var index = $(this).attr('id').split('➩')[1];
            var url = "/SteelMember/ProjectOrder/ItemList?index=" + index + "&TreeId=" + TreeId;
            Dialog(url, "ItemList", "选取<" + TreeName + ">构件（点击表格添加）", 900, 440);
        });
        //价格信息文本框点击事件
        $("#gridTable").find('.decimal').click(function () {
            $(this).select();
        });
    }
    var array = new Array();
    function IsExistItem(index, code) {
        if (!ArrayExists(array, code)) {
            array[index] = code;
            return false;
        } else {
            return true;
        }
    }

    function HaveExistItem(index, code) {
        if (!ArrayExists(array, code)) {
            return false;
        } else {
            return true;
        }
    }

    function IsExistItemdelete(index, code) {
        for (var i = 0; i < array.length; i++) {
            if (array[i] == code) {
                array.splice(i, 1);
                break;
            }
        }
    }

    //采购订单明细换算+合计
    function Conversion(index) {

        var MaxNumber = Number( $("#MaxNumber➩" + index).val());   
        var Qty = Number($("#Qty➩" + index).val());//数量
        if (Qty>MaxNumber) {
            tipDialog("您的输入不能超过" + MaxNumber, 2)
            $("#Qty➩" + index).val(MaxNumber);
            return
        }
        var Price = $("#Price➩" + index).val();                            //单价
        var PriceAmount = $("#PriceAmount➩" + index).val();                //金额
        //var PlusPrice = $("#PlusPrice➩" + index).val();                    //含税单价
        //var CESS = $("#CESS➩" + index).val();                              //税率(%)
        //var CESSAmount = $("#CESSAmount➩" + index).val();                  //税额
        //var PlusPriceAmount = $("#PlusPriceAmount➩" + index).val();        //含税金额
        //数量*单价=金额
        $("#PriceAmount➩" + index).val(FormatCurrency(Qty * Price));
        ////单价 * (1 + (税率 / 100))=含税单价
        //$("#PlusPrice➩" + index).val(FormatCurrency(Price * (1 + (CESS / 100))));
        ////(含税单价-单价)*数量=税额
        //$("#CESSAmount➩" + index).val(FormatCurrency(($("#PlusPrice➩" + index).val() - Price) * Qty));
        ////数量*含税单价=含税金额
        //$("#PlusPriceAmount➩" + index).val(FormatCurrency(Qty * $("#PlusPrice➩" + index).val()));
        //统计合计
        var TotalQty = 0, TotalPrice = 0.00, TotalPriceAmount = 0.00, TotalPlusPrice = 0.00, TotalCESSAmount = 0.00, TotalPlusPriceAmount = 0.00;
        $("#gridTable tbody tr").each(function (i) {
            var Qty = $(this).find('td:eq(5)').find('input').val();
            if (Qty != "" && Qty != undefined) {
                TotalQty += Number(Qty);
            }
            var Price = $(this).find('td:eq(6)').find('input').val();
            if (Price != "" && Qty != undefined) {
                TotalPrice += Number(Price);
            }
            var PriceAmount = $(this).find('td:eq(7)').find('input').val();
            if (PriceAmount != "" && Qty != undefined) {
                TotalPriceAmount += Number(PriceAmount);
            }
            var PlusPrice = $(this).find('td:eq(8)').find('input').val();
            if (PlusPrice != "" && Qty != undefined) {
                TotalPlusPrice += Number(PlusPrice);
            }
            var CESSAmount = $(this).find('td:eq(10)').find('input').val();
            if (CESSAmount != "" && Qty != undefined) {
                TotalCESSAmount += Number(CESSAmount);
            }
            var PlusPriceAmount = $(this).find('td:eq(11)').find('input').val();
            if (PlusPriceAmount != "" && Qty != undefined) {
                TotalPlusPriceAmount += Number(PlusPriceAmount);
            }
        });
        $("#TotalQty").text(TotalQty);
        $("#TotalPrice").text(FormatCurrency(TotalPrice));
        $("#TotalPriceAmount").text(FormatCurrency(TotalPriceAmount));
        //$("#TotalPlusPrice").text(FormatCurrency(TotalPlusPrice));
        //$("#TotalCESSAmount").text(FormatCurrency(TotalCESSAmount));
        //$("#TotalPlusPriceAmount").text(FormatCurrency(TotalPlusPriceAmount));
    }
    /*明细end=======================================*/

    //刷新
    function windowload() {
        $("#gridTable").trigger("reloadGrid"); //重新载入 
    }
    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        Loading(true, "正在提交数据...");
        window.setTimeout(function () {
            var postData = GetWebControls("#tb_POOrderFrom");
            postData["POOrderEntryJson"] = GetTableDataJson("#gridTable");
            AjaxJson("/SteelMember/ProjectOrder/SubmitOrderForm?TreeId=" + TreeId + "&KeyValue=" + KeyValue, postData, function (data) {
                tipDialog(data.Message, 3, data.Code);
                top.frames[tabiframeId()].windowload();
                closeDialog();
            });
        }, 200);
    };

</script>
<form id="form1">
    <div class="leftline rightline" style="margin-left: 1px; margin-right: 1px;">
        <div class="tools_bar" style="margin-top: 1px; margin-bottom: 0px;">
            <a id="lr-replace" class="tools_btn" title="刷新当前(Ctrl+Q)" onclick="Replace()"><span><b style='background: url(@Url.Content("../../Content/Images/Icon16/arrow_refresh.png")) no-repeat 50% 4px;'>刷新</b></span></a>
            @* <div class="tools_separator"></div>
                <a id="button_first_bills" title="最前面单据" onclick="first_bills()" class="tools_btn"><span><b style="background: url(@Url.Content("../../Content/Images/Icon16/resultset_first.png")) 50% 4px no-repeat;">最前</b></span></a>
                    <a id="button_prev_bills" title="前面单单" onclick="prev_bills()" class="tools_btn"><span><b style="background: url(@Url.Content("../../Content/Images/Icon16/resultset_previous.png")) 50% 4px no-repeat;">前单</b></span></a>
                    <a id="button_next_bills" title="后面单单" onclick="next_bills()" class="tools_btn"><span><b style="background: url(@Url.Content("../../Content/Images/Icon16/resultset_next.png")) 50% 4px no-repeat;">后单</b></span></a>
                    <a id="button_last_bills" title="最后面单据" onclick="last_bills()" class="tools_btn"><span><b style="background: url(@Url.Content("../../Content/Images/Icon16/resultset_last.png")) 50% 4px no-repeat;">最后</b></span></a>*@
            @*<a id="button_Commit_Save" title="保存单据" onclick="SubmitOrderForm()" class="tools_btn"><span><b style="background: url(@Url.Content("../../Content/Images/Icon16/disk.png")) 50% 4px no-repeat;">保存</b></span></a>*@
            @*<div class="tools_separator"></div>
            <a title="关闭当前窗口(Esc)" onclick="ThisCloseTab()" class="tools_btn"><span><b style="background: url(@Url.Content("../../Content/Images/Icon16/back.png")) 50% 4px no-repeat;">离开</b></span></a>*@
        </div>
        <table id="tb_POOrderFrom" class="form-bill">
            <tr>
                <td align="center" colspan="8">
                    <div style="font-family: 华文楷体; font-size: x-large; height: 60px; line-height: 60px;">
                        构件订单&nbsp;
                        <img src="../../Content/Images/billstatis1.png" style="vertical-align: middle;" />
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    订单编号[<font face="宋体" color="red">*</font>]：
                </th>
                <td>
                    <input readonly id="OrderNumbering" type="text" class="txt" datacol="yes" err="制单编号" checkexpession="NotNull" value="@ViewBag.OrderNumbering" style="width: 95%" />
                </td>
                <th>
                    制单员：
                </th>
                <td>
                    <input readonly id="CreateMan" type="text" class="txt" style="width: 95%" value="@ViewData["CreateMan"]" />
                </td>
                <th>
                    制单日期[<font face="宋体" color="red">*</font>]：
                </th>
                <td>
                    <input id="CreateTime" type="text" class="txt" datacol="yes" err="制单日期" checkexpession="NotNull" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")" onfocus="WdatePicker({dateFmt: 'yyyy-MM-dd HH:mm:ss' })" style="width: 95%" />
                </td>
            </tr>
            <tr>
                <th>
                    工程部位[<font face="宋体" color="red">*</font>]：
                </th>
                <td>
                    <input readonly id="TreeName" type="text" class="txt" style="width: 95%" />
                </td>
                <th>
                    审核人：
                </th>
                <td>
                    <input id="ReviewMan" type="text" class="txt" style="width: 95%" />
                </td>
                <th>
                    审核日期：
                </th>
                <td>
                    <input readonly id="ReviewTime" type="text" class="txt" style="width: 95%" />
                </td>
            </tr>
            <tr>
                <th>
                    生产优先级[<font face="宋体" color="red">*</font>]：
                </th>
                <td>
                    @*<input id="Priority" type="text" class="txt" datacol="yes" err="生产优先级" checkexpession="NotNull" style="width: 95%" />*@
                    <select id="Priority" datacol="yes" err="生产优先级" checkexpession="NotNull" style="width: 60%">
                        <option value="正常">正常</option>
                        <option value="加急">加急</option>
                    </select>
                </td>
                <th>
                    备注：
                </th>
                <td colspan="7">
                    <input id="Description" type="text" class="txt" style="width:97%" value="@ViewBag.Description" />
                </td>
            </tr>
        </table>

        <div id="grid_List" style="width:1100px;">
            <table id="gridTable"></table>
            <style>
                .ui-widget-content {
                    border-left: none;
                }

                .ui-jqgrid tr.ui-row-ltr td {
                    padding: 0px;
                    border-bottom: 1px solid #ccc;
                }

                .ui-jqgrid .ui-jqgrid-htable th {
                    line-height: 15px;
                }

                    .ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
                        background: none;
                    }

                .editable {
                    height: 22px;
                    background-color: #fff;
                }
            </style>
        </div>
    </div>
</form>
