@{
    ViewBag.Title = "生产订单管理";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        GetTree();
        GetGrid();
        //SwitchListAndView();
    });

    //加载左边树
    //注意 FolderId 默认等于1 这样就可以加载一级目录下的子节点文件夹
    var TreeId = "";//16
    var ItemId = 2;
    var ConfirmOrder="", Productioned="";

    //ItemId = GetQuery("ItemID"), ProjectName = "", IsPublic = "1";
    function GetTree() {
        var itemtree = {
            onnodeclick: function (node) {
                TreeId = node.id;
                TreeName = node.text;
                if (node.url == "ProduceingOrder") {
                    ConfirmOrder ="1";
                    Productioned = "0";
                } else if (node.url == "EndOrder")
                {
                    ConfirmOrder ="1";
                    Productioned ="1";

                }
                else if(node.url == "NewOrder") {
                    ConfirmOrder ="0";
                    Productioned = "0";
                } else {
                    ConfirmOrder = "2";
                    Productioned = "2";
                }
                GridFolderEvent(TreeId, ConfirmOrder, Productioned);
            },
            url: "@Url.Content("/SteelMember/MemberProduce/TreeJsonOrder")?ItemId=" + ItemId
        };
        $("#ItemsTree").treeview(itemtree);
    };

    //表格文件夹点击事件
    function GridFolderEvent(TreeId, ConfirmOrder, Productioned) {
        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Content("/SteelMember/MemberProduce/GridListJsonOrder")?TreeId=" + TreeId + "&ConfirmOrder=" + ConfirmOrder + "&Productioned=" + Productioned, page: 1
        }).trigger('reloadGrid');
    }

    //加载表格
    var subgrid_table_id;
    var a=0;
    function GetGrid() {
        var SelectRowIndx;
        $("#gridTable").jqGrid({
            url: "@Url.Content("/SteelMember/MemberProduce/GridListJsonOrder")?TreeId=" + TreeId + "&ConfirmOrder=" + ConfirmOrder + "&Productioned=" + Productioned,
            datatype: "json",
            height: $(window).height() - 154,
            autowidth: true,
            colModel: [
                    { label: '主键', name: "OrderId", index: "OrderId", hidden: true },
                    { label: '外键', name: "ProjectDemandId", hidden: true },
                    { label: '外键', name: "MemberId", hidden: true },
                    { label: '订单编号', name: "OrderNumbering", index: "OrderNumbering",align: 'center',width: 12 },
                    { label: '所属分项目', name: "TreeName", index: "TreeName",align: 'center',width: 12 },
                    //{
                    //    label: '交货时间', name: "VeliveryTime", index: "VeliveryTime",align: 'center',width: 12,
                    //    formatter: function (cellvalue, options, rowObject) {
                    //        return formatDate(cellvalue, 'yyyy-MM-dd hh:mm:ss');
                    //    }
                    //},
                    {
                        label: '创建时间', name: "CreateTime", index: "CreateTime",align: 'center',width: 12,
                        formatter: function (cellvalue, options, rowObject) {
                            return formatDate(cellvalue, 'yyyy-MM-dd hh:mm:ss');
                        }
                    },
                    { label: '制单人', name: "CreateMan", index: "CreateMan",align: 'center',width: 12 },
                    {
                        label: '订单确认状态', name: 'ConfirmOrder', index: 'ConfirmOrder', align:' center',width: 5,
                        formatter: function (cellvalue, value, row, index) {
                            var ConfirmOrder = cellvalue;
                            if (ConfirmOrder != "" || ConfirmOrder != null) {
                                if (ConfirmOrder == 1) {
                                    return "<img src='../../Content/Images/checkokmark.gif'/>";
                                } else {
                                    return "<img src='../../Content/Images/checknomark.gif'/>";
                                }
                            } else {
                                return "";
                            }
                        }
                    },
                    { label: '确认人', name: "ConfirmMan", index: "ConfirmMan",align: 'center',width: 10 },
                    { label: '备注', name: "Description", index: "Description",align: 'center',width: 12 },
            ],
            rowNum: 30,
            sortname: 'SortCode',
            sortorder: 'Desc',//降序 asc升序
            pager: "#gridPager",
            viewrecords: true,
            rownumbers: true,
            gridview: true,
            footerrow: true,
            subGrid: true,
            subGridRowExpanded: function (subgrid_id, row_id) {
                if (a!=0) {

                    $("#gridTable").collapseSubGridRow(a);
                }

                var OrderId = GetJqGridValue("#gridTable", row_id, "OrderId");
                subgrid_table_id = subgrid_id + "_t";
                $("#" + subgrid_id).html("<table id='" + subgrid_table_id + "'></table>");
                $("#" + subgrid_table_id).jqGrid({
                    url: "@Url.Content("~/SteelMember/ProjectOrder/GetOrderEntryList")?OrderId=" + OrderId,
                    datatype: "json",
                    colModel: [
                        { label: '主键', name: "MemberID",align: 'center',width: 200, sortable: false ,hidden:true},
                        { label: '构件编号', name: "MemberNumbering",align: 'center',width: 200, sortable: false },
                        { label: '构件名称', name: "MemberName",align: 'center',width: 150, sortable: false },
                        { label: '构件型号', name: "MemberModel",align: 'center',width: 80, sortable: false,},
                        { label: '单位', name: "MemberUnit",align: 'center',width: 80, sortable: false, },
                        { label: '数量', name: 'Qty', align:' center',width: 80, sortable: false, align: 'center' },
                        { label: '单价', name: 'Price', align:' center',width: 80, sortable: false, align: 'center' },
                        { label: '金额', name: 'PriceAmount', align:' center',width: 80, sortable: false, align: 'center' },
                        { label: '说明', name: 'Description', align:' center',width: 200, sortable: false }
                    ],
                    width: "1227",
                    rowNum: "all",
                });
                a = row_id;
            },
            rowList: [15, 30, 50, 100, 500, 1000],
            ondblClickRow: function (TreeId) {

                //表格行样式
                var rowData = $("#gridTable").getRowData(TreeId);  //根据ID拿到一行的数据
                if (rowData.Icon == '-1') {
                    GridFolderEvent(rowData.TreeId);
                    var treeid = "ItemsTree_" + rowData.TreeId.replace(/-/g, '_');
                    $('#' + treeid + ' img').trigger("click");
                }
            },
            onSelectRow: function () {
                SelectRowIndx = GetJqGridRowIndx("#" + this.id);
            },
            gridComplete: function () {
                //合计
                $(this).footerData("set", {
                    "OrderNumbering": "合计",
                    "MemberNumber": $(this).getCol("MemberNumber", false, "sum"),
                    "CostBudget": $(this).getCol("CostBudget", false, "sum"),
                });

                //表格行样式
                var ids = $("#gridTable").getDataIDs();
                for (var i = 0; i < ids.length; i++) {
                    var rowData = $("#gridTable").getRowData(ids[i]);
                    if (rowData.Enabled == "无效") {//如果无效，则背景色置于红色
                        $('#' + ids[i]).find("td").addClass("SelectBG");
                    }
                }
                $("#" + this.id).jqGrid('setSelection', SelectRowIndx);

            }
        });
        columnModelData("#gridTable");
        //自应高度
        $(window).resize(function () {
            $("#gridTable").setGridHeight($(window).height() - 200);
        });

    }


    //按钮刷新表格树
    function btn_reload() {
        GetTree();
        $("#gridTable").trigger("reloadGrid"); //重新载入
    }
    //刷新
    function windowload() {
        $("#gridTable").trigger("reloadGrid"); //重新载入
    }


    //新增信息
    function btn_add() {
        //var KeyValue = GetJqGridRowValue("#gridTable", "ProjectId");
        if (IsChecked(TreeId)) {
            var url = "/SteelMember/MemberProduce/OrderForm?KeyValue= " + TreeId;
            openDialog(url, "OrderForm", "新增信息", 500, 400, function (iframe) {
                top.frames[iframe].AcceptClick();
            });
        }
        $("#gridTable").trigger("reloadGrid"); //重新载入
    }

    //编辑信息(得到实体)
    function btn_edit() {
        var KeyValue = GetJqGridRowValue("#gridTable", "OrderId");
        var ItemID = 1;
        if (IsChecked(KeyValue)) {
            var url = "/SteelMember/MemberProduce/OrderForm?KeyValue= " + KeyValue + "&ItemID=" + ItemID;
            openDialog(url, "OrderForm", "编辑信息", 600, 400, function (iframe) {
                top.frames[iframe].AcceptClick();
            });
        }
        $("#gridTable").trigger("reloadGrid"); //重新载入
    }

    //标记删除信息
    function btn_mark() {
        var KeyValue = GetJqGridRowValue("#gridTable", "OrderId");
        var Prompt = "您确实要删除此文件吗？";
        if (IsDelData(KeyValue)) {
            delConfirm('/SteelMember/MemberProduce/MarkProjectDemand', { KeyValue: KeyValue }, Prompt);
        }
        $("#gridTable").trigger("reloadGrid"); //重新载入
    }

    ////删除信息
    //function btn_delete() {
    //    var KeyValue = GetJqGridRowValue("#gridTable", "OrderId");
    //    var Prompt = "您确实要删除此文件吗？";
    //    if (IsDelData(KeyValue)) {
    //        delConfirm('/SteelMember/MemberProduce/DeleteProjectOrder', { KeyValue: KeyValue }, Prompt);
    //        $("#gridTable").trigger("reloadGrid"); //重新载入
    //    }

    //}

    //确认信息
    function btn_confirm() {
        var KeyValue = GetJqGridRowValue("#gridTable", "OrderId");
        var _ConfirmOrder = GetJqGridRowValue("#gridTable", "ConfirmOrder");
        var Prompt = "您确实要提交此文件吗？";
        if (IsDelData(KeyValue)) {
            if (_ConfirmOrder.replace(/"/, "'").replace(/"/, "'") == "<img src='../../Content/Images/checknomark.gif'>") {
                subConfirm('/SteelMember/MemberProduce/ConfirmOrder', { KeyValue: KeyValue }, Prompt);
            } else {
                tipDialog("该信息已确认！", 2);
            }
        }
    }

    //构件图纸/模型管理
    function btn_drawing() {
        if (subgrid_table_id != undefined) {
            var KeyValue = GetJqGridRowValue("#" + subgrid_table_id, "MemberID");
                    if (KeyValue != undefined ){
                    var url = '/SteelMember/File/DrawingManagement?KeyValue=' + KeyValue;
                    Dialog(url, "DrawingManagement", "文件管理", 700, 580, function (iframe) {
                        top.frames[iframe].AcceptClick()
                    });
                    } else {
                        tipDialog("请选择订单下的构件!", 2)
                    }
                } else {
                    tipDialog("请选择订单下的构件!",2)
                }
            }
        //}

    //订单详细信息(得到实体)
    function btn_detail() {
        var KeyValue = GetJqGridRowValue("#gridTable", "OrderId");
        var ItemID = 1;
        if (IsChecked(KeyValue)) {
                var url = "/SteelMember/ProjectOrder/DetailForm?KeyValue= " + KeyValue + "&TreeId=" + TreeId;
                Dialog(url, "DetailForm", "详细信息", 1100, 600, function (iframe) {
                    top.frames[iframe].AcceptClick();
                });

            //var url = "/SteelMember/ProjectManagement/OrderForm?KeyValue= " + KeyValue + "&ItemID=" + ItemID;
                //openDialog(url, "Form", "编辑信息", 600, 400, function (iframe) {
                //    top.frames[iframe].AcceptClick();
                //});
        }
        $("#gridTable").trigger("reloadGrid"); //重新载入
    }

    //查询
    var QueryParamJson = "";
    function btn_query() {
        QueryDialog("/SteelMember/MemberProduce/OrderQueryPage", "QueryPage", "查询", 540, 30, function (iframe) {
            top.frames[iframe].QueryClick(function (JsonData) {
                QueryParamJson = JsonData;
                $("#gridTable").jqGrid('setGridParam', {
                    url: "@Url.Content("/SteelMember/MemberProduce/GridListJsonOrder")?ParameterJson=" + escape(JsonData) + "&TreeID=" + TreeId, page: 1
            }).trigger('reloadGrid');
        });
    });
    }

    ////导出文件
    //function btn_derive() {
    //    SetDeriveExcel("#gridTable", "构件厂订单信息表");
    //    openDialog("/SteelMember/File/DeriveFile", "DeriveFile", "信息导出", 900, 500, function (iframe) {
    //        top.frames[iframe].AcceptClick();
    //    })
    //}

</script>

<div id="layout" class="layout">
    <!--左边-->
    <div class="layoutPanel layout-west">
        <div class="btnbartitle">
            <div>
                目录信息
            </div>
        </div>
        <div class="ScrollBar" id="ItemsTree"></div>
    </div>
    <!--中间-->
    <div class="layoutPanel layout-center">
        <div class="btnbartitle">
            <div>
                订单信息<span id="CenterTitle"></span>
            </div>
        </div>
        <div class="tools_bar" style="border-top: none; margin-bottom: 0px;">
            <div class="PartialButton">
                @Html.Partial("_PartialButton")
            </div>
        </div>
        <table id="gridTable"></table>
        <div id="gridPager"></div>
    </div>
</div>