@{
    ViewBag.Title = "工程项目管理";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        GetTree();
        GetGrid();
        SwitchListAndView();
    });

    //鼠标移动放大图片
    function showBigImg(oEvent, imgPath) {
        bigImg.src = imgPath;
        var oDiv = document.getElementById("BigDiv");
        oDiv.style.visibility = "visible";
        oDiv.style.left = oEvent.clientX + 5;
        oDiv.style.top = oEvent.clientY + 5;
    }
    function leaveBigImg(oEvent) {
        var oDiv = document.getElementById("BigDiv");
        oDiv.style.visibility = "hidden";
    }//鼠标移动放大图片

    //加载左边树
    //注意 FolderId 默认等于1 这样就可以加载一级目录下的子节点文件夹
    var TreeId = "";//16
    var ItemId = 2;
    ProjectName = "", IsPublic = "1";
    var HavesChildren;
    function GetTree() {
        var itemtree = {
            onnodeclick: function (node) {
                HavesChildren = node.hasChildren;
                TreeId = node.id;
                TreeName = node.text;
                GridFolderEvent(TreeId);
            },
            url: "@Url.Content("/SteelMember/ProjectManagement/TreeJson")?ItemId=" + ItemId
        };
        $("#ItemsTree").treeview(itemtree);
    };

    //表格文件夹点击事件
    function GridFolderEvent(TreeId) {
        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Content("/SteelMember/ProjectManagement/GridListJson")?TreeId=" + TreeId, page: 1
        }).trigger('reloadGrid');
    }

    //加载表格
    function GetGrid() {
        var SelectRowIndx;
        var unit_name;
        $("#gridTable").jqGrid({
            url: "@Url.Content("/SteelMember/ProjectManagement/GridListJson")?TreeId=" + TreeId,
            datatype: "json",
            height: $(window).height() - 154,
            autowidth: true,
            colModel: [
                    { label: '主键', name: "ProjectDemandId", hidden: true },
                    { label: '外键', name: "MemberId", index: "MemberId", hidden: true },
                    {
                        label: '图标', name: "Icon", hidden: false, width:5,
                        formatter: function (cellvalue, options, rowObject) {
                            var Icon= cellvalue;
                            if (Icon != "" || Icon != null) {
                                var filename = Icon.substring(0, Icon.lastIndexOf('.'));//获取文件名称，去除后缀名
                                filename = filename + "/" + Icon;
                                if (Icon == "1.png") {
                                    //<div style='cursor:pointer;padding-top:1px;'><img style='padding-bottom:3px;padding-right:2px;' src='../../Content/Scripts/tree/images/folder.gif' onmouseover=\"showBigImg(event,'../../Content/Scripts/tree/images/folder.gif')\" onmouseout=\"leaveBigImg(event)\"/>"</div>
                                    //<img style='width:32px;height:18px;padding-bottom:3px;padding-right:2px;' src='../../Resource/Document/NetworkDisk/System/Member/" + filename + "' onmouseover=\"showBigImg(event,'../../Resource/Document/NetworkDisk/System/Member/" + filename + "')\" onmouseout=\"leaveBigImg(event)\" />";
                                    return "<img style='width:44px;height:32px;' src='../../Resource/Document/NetworkDisk/System/Member/baton.png'onmouseover=\"showBigImg(event,'../../Resource/Document/NetworkDisk/System/Member/baton.png')\"onmouseout=\"leaveBigImg(event)\"/>";
                                } else {
                                    return "<img style='width:44px;height:32px;' src='../../Resource/Document/NetworkDisk/System/Member/" + filename + "' onmouseover=\"showBigImg(event,'../../Resource/Document/NetworkDisk/System/Member/" + filename + "')\" onmouseout=\"leaveBigImg(event)\" />";
                                }
                            }else {
                                return "";
                            }
                        }
                    },
                    { label: '构件编号', name: "MemberNumbering", index: "MemberNumbering", align:' center',width: 12 },
                    { label: '构件名', name: "MemberName", index: "MemberName", align:' center',width: 6 },
                    { label: '构件型号', name: "MemberModel", index: "MemberModel", align:' center',width: 6 },
                    { label: '需求量', name: "MemberNumber", index: "MemberNumber", align:' center',width: 6 },
                    {
                        label: '单位', name: "MemberUnit", index: "MemberUnit", align:' center',width: 6,
                        formatter: function (cellvalue, value, row, index) {
                           unit_name = cellvalue;
                           return unit_name
                        }
                    },
                     {
                         label: '审核状态', name: 'IsReview', index: 'IsReview', align:' center',width: 6,
                         formatter: function (cellvalue, value, row, index) {
                            var _IsReview = cellvalue;
                            if (_IsReview == 0) {
                                 return "<img src='../../Content/Images/checknomark.gif'/>";
                            } else if (_IsReview == 1) {
                                 return "<img src='../../Content/Images/checkokmark.gif'/>";
                            } else if (_IsReview == 2) {
                                 return "<img src='../../Content/Images/checkerrormark.gif'/>";
                             }
                         }
                     },
                      { label: '审核人', name: "ReviewMan", index: "ReviewMan", align:' center',width: 6 },
                    //{ label: '重量', name: 'MemberWeight', index: 'MemberWeight', align:' center',width: 12 },
                    //{ label: '生产商', name: 'MemberCompany', index: 'MemberCompany', align:' center',width: 12 },
                    //{ label: '订单创建状态', name: 'IsDemandSubmit', index: 'IsDemandSubmit', align:' center',width: 6 },
                    { label: '已成订单量', name: 'OrderQuantityed', index: 'OrderQuantityed', align:' center',width: 6 },
                    { label: '已生产量', name: 'ProductionNumber', index: 'ProductionNumber', align:' center',width: 6 },
                    { label: '已领用量', name: 'CollarNumbered', index: 'CollarNumbered', align:' center',width: 6 },
                     {
                         label: '创建时间', name: "CreateTime", index: "CreateTime", align:' center',width: 10,
                         formatter: function (cellvalue, options, rowObject) {
                             return formatDate(cellvalue, 'yyyy-MM-dd hh:mm:ss');
                         }
                     },
                    { label: '备注', name: "Description", index: "Description", align:' center',width: 12 },
            ],
            rowNum: 30,
            sortname: 'SortCode',
            sortorder: 'Desc',//降序 asc升序
            pager: "#gridPager",
            jsonReader: {
                repeatitems: false,
                id: "ProjectId"
            },
            viewrecords: true,
            rownumbers: true,
            gridview: true,
            footerrow: true,
            rowList: [15, 30, 50, 100, 500, 1000],
            ondblClickRow: function (TreeId) {
                var rowData = $("#gridTable").getRowData(TreeId);  //根据ID拿到一行的数据
                if (rowData.Icon == '-1') {
                    GridFolderEvent(rowData.TreeId);
                    var treeid = "ItemsTree_" + rowData.TreeId.replace(/-/g, '_');
                    $('#' + treeid + ' img').trigger("click");
                }
            },
            onSelectRow: function () {
                SelectRowIndx = GetJqGridRowIndx("#" + this.id);
            },
            gridComplete: function () {
                //合计
                $(this).footerData("set", {
                    "MemberName": "合计",
                    "MemberNumber": $(this).getCol("MemberNumber", false, "sum"),
                    "OrderQuantityed": $(this).getCol("OrderQuantityed", false, "sum"),
                    "ProductionNumber": $(this).getCol("ProductionNumber", false, "sum"),
                    "CollarNumbered": $(this).getCol("CollarNumbered", false, "sum"),
                   });

                //表格行样式
                var ids = $("#gridTable").getDataIDs();
                for (var i = 0; i < ids.length; i++) {
                    var rowData = $("#gridTable").getRowData(ids[i]);
                    if (rowData.Enabled == "无效") {//如果无效，则背景色置于红色
                        $('#' + ids[i]).find("td").addClass("SelectBG");
                    }
                }
                $("#" + this.id).jqGrid('setSelection', SelectRowIndx);
            }
        });
        columnModelData("#gridTable");
        //自应高度
        $(window).resize(function () {
            $("#gridTable").setGridHeight($(window).height() - 200);
        });

    }

    //按钮刷新表格树
    function btn_reload() {
        GetTree();
        $("#gridTable").trigger("reloadGrid"); //重新载入
    }
    //刷新
    function windowload() {
        $("#gridTable").trigger("reloadGrid"); //重新载入
    }

    //查询
    function Search() {
        if (!CheckDataValid('#formsearch')) {
            return false;
        }
        Loading(true, "正在提交数据...");
        var postData = GetWebControls("#formsearch");
        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Content("/SteelMember/ProjectInfo/GridListJson")?ProjectId=" + ProjectId, postData, page: 1
            }).trigger('reloadGrid');
            }


    //新增信息
    function btn_add() {
        //var KeyValue = GetJqGridRowValue("#gridTable", "ProjectId");
        var ItemID = 1
        if (IsChecked(TreeId)) {
            if (HavesChildren == true) {
                tipDialog("此节点不可编辑，请选择一个子节点", 3, 'warning');
            } else {
                var url = "/SteelMember/ProjectManagement/Form?TreeID= " + TreeId + "&ItemID=" + ItemID;
                openDialog(url, "Form", "新增信息", 400, 200, function (iframe) {
                    top.frames[iframe].AcceptClick();
                });
            }
        }
    }

    //编辑信息(得到实体)
    function btn_edit() {
        var KeyValue = GetJqGridRowValue("#gridTable", "ProjectDemandId");
        var IsReview = GetJqGridRowValue("#gridTable", "IsReview");
        var ItemID = 1;
        if (IsChecked(KeyValue)) {
            if (IsReview.replace(/"/, "'").replace(/"/, "'") != "<img src='../../Content/Images/checkokmark.gif'>") {
                var url = "/SteelMember/ProjectManagement/Form?KeyValue= " + KeyValue + "&ItemID=" + ItemID + "&TreeID=" + TreeId ;
                openDialog(url, "Form", "编辑信息", 400, 200, function (iframe) {
                    top.frames[iframe].AcceptClick();
                });
            } else {
                tipDialog('该构件已审核，不允许修改！');
            }
        }
        $("#gridTable").trigger("reloadGrid"); //重新载入
    }

    //删除信息
    function btn_delete() {
        var KeyValue = GetJqGridRowValue("#gridTable", "ProjectDemandId");
        var Prompt = "您确实要删除此文件吗？";
        var IsReview = GetJqGridRowValue("#gridTable", "IsReview");
        if (IsDelData(KeyValue)) {
            if (IsReview.replace(/"/, "'").replace(/"/, "'") != "<img src='../../Content/Images/checkokmark.gif'>") {
                delConfirm('/SteelMember/ProjectManagement/DeleteProjectDemand', { KeyValue: KeyValue }, Prompt);
                $("#gridTable").trigger("reloadGrid"); //重新载入
            } else {
                tipDialog('该构件已审核，不允许删除！');
            }
        }
    }

    //审核信息
    function btn_review() {
        var _IsReview = GetJqGridRowValue("#gridTable", "IsReview");
        var KeyValue = GetJqGridRowValue("#gridTable", "ProjectDemandId");
        var Prompt = "您确实要通过审核吗？";
        var IsReview = 1;
        if (IsDelData(KeyValue)) {
            if (_IsReview.replace(/"/, "'").replace(/"/, "'") == "<img src='../../Content/Images/checknomark.gif'>" ) {
                subConfirm('/SteelMember/ProjectManagement/ReviewProjectDemand', { KeyValue: KeyValue, IsReview: IsReview }, Prompt);
            } else {
                tipDialog("该信息已审核！",2);
            }
        }
    }
    //审核信息
    function btn_not_review() {
        var _IsReview = GetJqGridRowValue("#gridTable", "IsReview");
        var KeyValue = GetJqGridRowValue("#gridTable", "ProjectDemandId");
        var Prompt = "您确实审核不通过吗？";
        var IsReview = 2;
        if (IsDelData(KeyValue)) {
            if (_IsReview.replace(/"/, "'").replace(/"/, "'") == "<img src='../../Content/Images/checkenomark.gif'>") {
                subConfirm('/SteelMember/ProjectManagement/ReviewProjectDemand', { KeyValue: KeyValue, IsReview: IsReview }, Prompt);
            } else {
                tipDialog("该信息已审核！", 2);
            }
           
        }
    }



    //提交项目
    function btn_SubmitItem() {
        var KeyValue = GetJqGridRowValue("#gridTable", "TreeId");
        var Prompt = "您确实要提交此项目吗？";
        if (IsDelData(KeyValue)) {
            subConfirm('/SteelMember/ProjectManagement/SubmitProjectItemDemand', { KeyValue: KeyValue }, Prompt);
        }
        $("#gridTable").trigger("reloadGrid"); //重新载入
    }

    //构件图纸/模型管理
    function btn_drawing() {
        var KeyValue = GetJqGridRowValue("#gridTable", "MemberId");
        var Sort = GetJqGridRowValue("#gridTable", "Sort");
        if (IsChecked(KeyValue)) {
            var url = '/SteelMember/File/DrawingManagement?KeyValue=' + KeyValue;
            Dialog(url, "DrawingManagement", "文件管理", 700, 580, function (iframe) {
                top.frames[iframe].AcceptClick()
            });
        }
    }

       var JsonData1 = "";  var TableObject ="";
    //导出文件
    function btn_derive() {
        SetDeriveExcel("#gridTable", "构件需求信息表", "云南公投澄川高速", JsonData1,TableObject.toString());
        openDialog("/SteelMember/File/DeriveFile", "DeriveFile", "信息导出", 900, 500, function (iframe) {
            top.frames[iframe].AcceptClick();
        })
    }

    //要打印数据源，子页面调用的函数
    function PrintDataSource() {
        var columnModel = $("#gridTable").jqGrid('getGridParam', 'colModel');
        var dataModel = $("#gridTable").jqGrid("getRowData");
        var footerData = $("#gridTable").jqGrid("footerData");
        var JsonData = {
            columnModel: columnModel,
            dataModel: dataModel,
            footerData: footerData,
        }
        return JsonData;
    }

    //点击打印报表
    function btn_Print() {
        PrintDialog("/SteelMember/File/PrintPage", "PrintPage", "打印当前页", 1200, 500, function (iframe) {
            top.frames[iframe].SubmitPrint()
        });
    }

    //查询
    var QueryParamJson = "";
    function btn_query() {
        QueryDialog("/SteelMember/ProjectManagement/QueryPage", "QueryPage", "查询", 540, 30, function (iframe) {
            top.frames[iframe].QueryClick(function (JsonData) {
                QueryParamJson = JsonData;
                $("#gridTable").jqGrid('setGridParam', {
                    url: "@Url.Content("/SteelMember/ProjectManagement/GridListJson")?ParameterJson=" + escape(JsonData) + "&TreeID=" + TreeId, page: 1
            }).trigger('reloadGrid');
        });
    });
    }

    /*视图begin=========================================================================*/
    //切换到列表/视图
    function SwitchListAndView() {
        $('#grid_View').height($(window).height() - 78)
        $('.switch-btns li').click(function () {
            $('.switch-btns li').removeClass('selected');
            $(this).addClass('selected');
            if ($(this).attr('id') == 'li-switch-list') {
                $(this).find('div').addClass('icon-btn-switch-list-select');
                $("#li-switch-view").find('div').addClass('icon-btn-switch-view');
                $("#li-switch-view").find('div').removeClass('icon-btn-switch-view-select');
                $('#grid_List').show();
                $('#grid_View').hide();
            }
            //显示视图
            if ($(this).attr('id') == 'li-switch-view') {
                $(this).find('div').addClass('icon-btn-switch-view-select');
                $("#li-switch-list").find('div').addClass('icon-btn-switch-list');
                $("#li-switch-list").find('div').removeClass('icon-btn-switch-list-select');
                $('#grid_List').hide();
                $('#grid_View').show();
                var data = $("#gridTable").jqGrid("getRowData");
                var html = "";
                for (var i = 0; i < data.length; i++) {
                    var icon = data[i].icon;
                    if (icon == "-1") {
                        icon = "Folder";
                    }
                    html += '<div class="filelist-item">';
                    html += '<div><img src="../../Content/Images/fileType/' + icon + '_72.png" /></div>';
                    html += '<div title="' + data[i].fullname + '" class="filelist-text">' + data[i].fullname + '</div>';
                    html += '</div>';
                }
                $("#grid_View").html(html);
            }
        })
    }

</script>
<div id="layout" class="layout">
    <!--左边-->
    <div class="layoutPanel layout-west">
        <div class="btnbartitle">
            <div>
                目录信息
            </div>
        </div>
        <div class="ScrollBar" id="ItemsTree"></div>
    </div>
    <!--中间-->
    <div class="layoutPanel layout-center">
        <div class="btnbartitle">
            <div>
                需求信息<span id="CenterTitle"></span>
            </div>
        </div>
        <div class="tools_bar" style="border-top: none; margin-bottom: 0px;">
            <div class="PartialButton">
                @Html.Partial("_PartialButton")
            </div>
        </div>
        <div id="BigDiv" style="margin-left:50px;margin-top:160px; width:360px;height:360px; position: absolute; visibility: hidden; padding: 5px;z-index:999">
            <img id="bigImg" src="" style="width:100%;height:100%" />
        </div>
        <table id="gridTable"></table>
        <div id="gridPager"></div>
    </div>
</div>

